#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/tmp

CONFIG_PATHS=--prefix=/usr \
		--libexecdir=/usr/lib \
		--sysconfdir=/etc \
		--localstatedir=/var/lib

%:
	dh $@ --parallel --with autoreconf

.PHONY: common
common:
	cd common && ./autogen.sh $(CONFIG_PATHS)
	cd common && $(MAKE)

.PHONY: override_dh_autoreconf
override_dh_autoreconf: common
	cd ipmi && ./autogen.sh $(CONFIG_PATHS)
	cd vnfs && ./autogen.sh $(CONFIG_PATHS)
	cd provision && ./autogen.sh $(CONFIG_PATHS)
	cd cluster && ./autogen.sh $(CONFIG_PATHS)

.PHONY: override_dh_auto_build
override_dh_auto_build:
	$(MAKE) -C ipmi
	$(MAKE) -C vnfs
	$(MAKE) -C provision
	$(MAKE) -C cluster

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install
	$(MAKE) -C common DESTDIR=$(DESTDIR) install
	$(MAKE) -C ipmi DESTDIR=$(DESTDIR) install
	$(MAKE) -C vnfs DESTDIR=$(DESTDIR) install
	cd $(DESTDIR)/usr/lib/warewulf/wwmkchroot && chmod 0664 *.tmpl include-*
	$(MAKE) -C provision DESTDIR=$(DESTDIR) install
	cp -r provision/initramfs/rootfs $(DESTDIR)/var/lib/warewulf/initramfs/x86_64/rootfs
	cd $(DESTDIR)/etc/apache2/conf.d && mv warewulf-httpd.conf warewulf3-provision-server.conf
	$(MAKE) -C cluster DESTDIR=$(DESTDIR) install
	install -m 0755 debian/wwmkinitramfs $(DESTDIR)/usr/bin
	install -D -m 0755 debian/ww-hook $(DESTDIR)/usr/lib/warewulf/wwmkinitramfs/ww-hook
